AddDefaultCharset UTF-8


<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /
RewriteRule ^wp-admin/$ /wp-admin/index.php [L]


RewriteRule ^index\.php$ - [L]
RewriteRule ^go/?$ index.php?page=go$1 [QSA,L]
RewriteRule ^(about|blog|feedback|all-cities|all-countries)/?$ index.php?page=$1 [L]
RewriteRule ^post/(\d+)/$ index.php?p=$1 [L]
RewriteRule ^([A-Za-z\+\-\_]+)/([A-Za-z\+\-\_]+)/excursion[-+_]([0-9]+)/?$ index.php?id=$3&city=$2&country__name_en=$1 [QSA]
# RewriteRule ^([A-Za-z\+\-\_]+)/([A-Za-z\+\-\_]+)/([0-9]+)/?$ index.php?id=$3&city=$2&country__name_en=$1 [QSA]
RewriteRule ^([A-Za-z\+\-\_]+)/([A-Za-z\+\-\_]+)/?$ index.php?city__name_en=$2&country__name_en=$1 [QSA]
RewriteRule ^([A-Za-z\+\-\_]+)/?$ index.php?country__name_en=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]


</IfModule>





# BEGIN WordPress
# Директивы (строки) между `BEGIN WordPress` и `END WordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.

# END WordPress